<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <%= stylesheet_link_tag :flutie, 'screen', :cache => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="content">
  <%= yield %>
</div>
</body>
</html>
